{%load static%} 
<!DOCTYPE html>  <!--using staticfiles template with the django.contrib.staticfiles-->
<html>
<head>
    <title>{%block title%} {%endblock%}</title> <!--definicja bloku we wskazanym miejscu-->
    <link href= "{%static 'css\blog.css'%}" rel="stylesheet"> <!--after using the template, we can use static files (ex. blog.css)-->
</head>
<body>
    <div id="content">
        {%block content%}
        {%endblock%}
    </div>
    <div id="sidebar">
        <h2>My blog</h2>
        <p>This is my blog</p>
    </div>
</body>
</html>